---
# Custom user CSS here!
---

// media queries
@media only screen and (max-width: 975px) {
  main {
    flex-direction: column
  }
  
  .sidebar {
    padding-bottom: 5em;

    h1::after {
      content: " Navigation"
    }
  }
}

@media only screen and (min-width: 975px) {
  main {
    flex-direction: row;
  }

  .sidebar {
    margin-left: var(--spacer-2);
    width: 12rem;
    min-width: 12rem;
    padding: 0 10px; 
  }

  .container {
    max-width: calc(60rem + 100vw - 100%);
    width: calc(60rem + 100vw - 100%);
    // the "100vw - 100%" calculates the scrollbar width
    // this means that on longer pages, the content won't be shifted
    // to the left if there is a scrollbar.
  }
}

main {
  display: flex;
}

.sidebar {
  display: block;

  h1 {
    font-size: 1rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0.5rem 0;
  }

  .searchbar  {
    margin: 1rem 0 0.5rem 0;
  }

}

.masthead-title > a > span {
  color: var(--link-color);
}

.subtext {
  color: var(--gray-600);
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.subtext > a {
  color: inherit;
}

.subtext > a:hover {
  color: var(--link-hover-color);
}

.page {
  width: 100%;
}